.form {
    z-index: 5;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 36px;
    padding-right: 36px;
    box-sizing: border-box;
}
