.header__logo {
    max-width: 142px;
    display: cover;
    margin: 0px auto 25px 0px;
    padding: 0px;
}
@media screen and (max-width: 920px) {
  .header__logo {
    margin: 0px auto 25px 15px;
   }
 }
@media screen and (max-width: 768px) {
    .header__logo {
      max-width: 104px;
      margin: 0px auto 15px 27px;
     }
   }