.form__save {
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 48px auto 37px auto;
}
@media screen and (max-width: 768px) {
    .form__save {
        max-width: 238px;
        margin: 45px auto 25px auto;
        font-size: 18px;
        line-height: 22px;
     }
}